<div style="padding: 20px; font-family: sans-serif;">
  <h2>ระบบจัดการบุคลากร (CRUD)</h2>

  <!-- ส่วนที่ 1: ฟอร์มเพิ่มข้อมูล (Create) -->
  
  <div style="margin-bottom: 20px;">
    <button (click)="loadData()">
      รีโหลดข้อมูล
    </button>
    <button (click)="openModal('', 'create')">
      เพิ่มข้อมูล
    </button>
  </div>

  @if (employeeModal){
  <div class="modal">
    <form [formGroup]="employeeForm" style="margin-bottom: 20px;">
      <!-- ใช้ # (Template Reference) เพื่อดึงค่าจากช่อง Input ง่ายๆ -->
      <input type="text" [formControl]="employeeForm.controls['name']" placeholder="ชื่อ" style="margin-right: 5px;">
      <input type="text" [formControl]="employeeForm.controls['surname']" placeholder="สกุล" style="margin-right: 5px;">
      <button (click)="addNew()">
        บันทึก
      </button>
    </form>
  </div>
}

  <!-- ส่วนที่ 2: ตารางแสดงข้อมูล (Read, Delete) -->
  <table border="1" cellpadding="10" style="border-collapse: collapse; width: 100%; max-width: 500px;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th>ID</th>
        <th>ชื่อ</th>
        <th>สกุล</th>
      </tr>
    </thead>
    <tbody>
      <!-- ใช้ @for วนลูปข้อมูลในตัวแปร items -->
      @for (item of items; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.surname }}</td>
          <td style="text-align: center;">
            <button (click)="delete(item.id)" style="color: red;">ลบ</button>
            <button (click)="openModal(item, 'edit')" style="color: red;">แก้ไข</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" style="text-align: center;">ไม่มีข้อมูลบุคคลากร</td>
        </tr>
      }
    </tbody>
  </table>
</div>